= form_for @status, html: { class: "form form-horizontal status" } do |f|
  .form-group
    = f.label :volume, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :volume, class: 'form-control', required: true
    = f.error_span(:volume)
  .form-group
    = f.label :batch, class: 'control-label col-lg-2'
    .col-lg-10
      = render partial: 'batches/dropdown', locals: { f: f, required: true  }
  .form-group
    = f.label :unit_id, class: 'control-label col-lg-2'
    .col-lg-10
      = render partial: 'units/dropdown', locals: { f: f, name: :unit_id, required: true, selected: @status.unit_id  }
    = f.error_span(:unit_id)
  .form-group
    = f.label :vessel, class: 'control-label col-lg-2'
    .col-lg-10
      = render partial: 'vessels/dropdown', locals: { f: f, name: :unit_id, required: true  }
  .form-group
    = f.label :state_id, class: 'control-label col-lg-2'
    .col-lg-10
      = render partial: 'states/dropdown', locals: { f: f, name: :unit_id, required: true  }
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), statuses_path, :class => 'btn btn-default'
