- model_class = State
.page-header
  %h1='Production Snapshot'

.top
  -State.front_page.each do |state|
    .col-md-2
      %h3
        = state.name.humanize
        %br
        %small
          = state.total_volume.round(1)
          = Unit.liter.short_name
          = "(#{(state.total_volume * (1/Unit.gallon.factor)).round(1)} #{Unit.gallon.short_name})"
      - state.batches.each do |batch|
        = render partial: 'batches/card', locals: { batch: batch }
