= form_for @vessel, html: { class: "form form-horizontal vessel" } do |f|
  .form-group
    = f.label :type, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :type, class: 'form-control', required: true
    = f.error_span(:type)
  .form-group
    = f.label :code, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :code, class: 'form-control', required: true
    = f.error_span(:code)
  .form-group
    = f.label :volume, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :volume, class: 'form-control', required: true
    = f.error_span(:volume)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), vessels_path, :class => 'btn btn-default'
