- model_class = Vessel
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:vessel_type) + ':'
  = @vessel.type_name.humanize
%p
  %strong= model_class.human_attribute_name(:code) + ':'
  = @vessel.code
%p
  %strong= model_class.human_attribute_name(:volume) + ':'
  = @vessel.volume
  = @vessel.unit.name.pluralize


= link_to t('.back', :default => t("helpers.links.back")), vessels_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_vessel_path(@vessel), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), vessel_path(@vessel), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
