- model_class = Racking
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:volume) + ':'
  %br
  = @racking.volume
  = @racking.unit.name.pluralize
%p
  %strong= model_class.human_attribute_name(:batch) + ':'
  = link_to @racking.batch.code, @racking.batch
%p
  %strong= model_class.human_attribute_name(:vessel) + ':'
  = link_to @racking.vessel.code, @racking.vessel
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  = link_to @racking.state.name, @racking.state


= link_to t('.back', :default => t("helpers.links.back")), rackings_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_racking_path(@racking), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), racking_path(@racking), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
