!!! 5
%html{ :lang => 'en' }
  %head
    %title= (@page_title || 'CiderChain')
    = csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true

  %body
    %nav{class: 'navbar navbar-default navbar-fixed-top'}
      .container-fluid
        =react_component 'Nav'
        =react_component 'NavButtons', current_user: current_user ? UserPresenter.new(current_user).as_json : nil

    %p
    .container-fluid
      .content
        - [:error, :warning, :success, :info, :notice].each do |message_type|
          - if flash[message_type]
            %div{ class: "alert-message #{message_type} fade in" }
              = link_to 'x', '#', class: 'close'
              %p
                = flash[message_type]

        - if content_for?(:page_header)
          .page-header
            %h1
              = yield :page_header
        = yield
        .push
    .navbar.navbar-default.navbar-fixed-bottom
      .container
        %p
          = "&copy; #{link_to 'Spoke and Sail Cider Co.', 'http://spokeandsail.com'} #{Date.today.year}".html_safe

